.header {
  background-color: var(--theme-color);
  min-height: 50px;
  min-width: 100%;
}
.first-label-word,
.second-label-word {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
}
.first-label-word {
  color: #66697d;
}
.second-label-word {
  color: white;
}
.nav-item {
  text-decoration: none;
  font-size: 0.7em;
  color: white;
  align-self: center;
  text-transform: uppercase;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
}
.left-top-label {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
}